/*Arena dimensions 2337 x 3555mm*/

#mapCanvas{
    background-color: #a06d44;
    display: block;
    margin: auto;
    background-image: url("../images/mars_bg.jpeg");
    /* margin-left: auto;
    margin-right: auto; */
}